.about_container {
  padding: 20px 100px;
  background-color: lightblue;
  height: 100%;
}

.about {
  border: 1px solid;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .about_container {
    padding: 20px 50px;
  }
}

/* @media screen and (max-width: 768px) {
  } */

@media screen and (max-width: 760px) {
  .about_container {
    padding: 20px 30px;
  }
}
