.about_container {
  padding: 0 100px;
  height: 100%;
}

.about {
  align-items: center;
  justify-content: center;
  display: flex;
  height: inherit;
}

.about_content {
  width: 45%;
}

.about_img {
  overflow: hidden;
  width: 55%;
  height: 100%;
  min-height: 200px;
  min-width: 300px;
}

.about_container > h2 {
  position: absolute;
  color: rgba(105, 28, 28, 0.1);
  left: 20px;
  font-size: 65px;
  font-weight: 700;
}

.about_content > p {
  line-height: 25px;
  word-spacing: 2px;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .about_container {
    padding: 20px 50px 0;
  }

  .about_content {
    width: 40%;
  }

  .about_img {
    width: 60%;
  }
}

/* @media screen and (max-width: 768px) {
  } */

@media screen and (max-width: 760px) {
  .about_content {
    width: 80%;
  }

  .about_container {
    padding: 20px 30px 0;
  }

  .about_img {
    display: none;
    order: -1;
  }
}
