.reminders {
  position: relative;
  padding: 20px 100px 60px;
}

.reminders_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: auto;
}

.modal {
  transition: 0.5s;
}

@media screen and (max-width: 960px) {
  .reminders {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 420px) {
  .reminders {
    padding: 5px 25px;
  }
}
