.user_main_container {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_account {
  text-align: center;
  border: 1px solid;
  width: 50%;
  color: #0e153a;
}

.user_card {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user_card .title {
  font-size: 30px;
}

.user_card > p {
  margin: 5px;
}

.icon_container {
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  margin-top: 10px;
}

.icon_container > label {
  font-weight: 600;
  margin-left: 10px;
}
.icon_container > span {
  margin-left: 20px;
}

.account_btns {
  display: flex;
  justify-content: space-around;
}

.user_btn {
  border: none;
  font-size: 17px;
  padding: 10px 20px;
  color: white;
}

.delete_btn {
  background-color: #e2434b;
}

.update_btn {
  background-color: #17b978;
}

@media screen and (max-width: 768px) {
  .user_account {
    width: 90%;
  }
}
